@model SkladisteRobe.Models.Transakcija
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dodaj Transakciju";
}
<div class="container mt-5">
    <h2 class="mb-4">Dodaj Transakciju</h2>
    <form asp-action="DodajTransakciju" method="post" class="card p-4 shadow">
        <div class="mb-3">
            <label for="MaterijalId" class="form-label">ID Materijala</label>
            <input type="number" class="form-control" id="MaterijalId" name="MaterijalId" required />
        </div>
        <div class="mb-3">
            <label for="Kolicina" class="form-label">Količina</label>
            <input type="number" class="form-control" id="Kolicina" name="Kolicina" required />
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" name="submitType" value="Ulaz" class="btn btn-primary me-md-2">Prijem robe</button>
            <button type="submit" name="submitType" value="Izlaz" class="btn btn-primary">Izdavanje robe</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}