@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-4">
    <h1 class="display-4">Dobrodošli u SkladišteRobe</h1>
    <p class="lead">Moderno rješenje za upravljanje skladištem</p>
    <img src="~/images/warehouse.jpg" alt="Warehouse" class="img-fluid" style="max-width: 100%; height: auto;" />
</div>