@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p class="lead">Use this page to detail your site's privacy policy.</p>
    
</div>